<a href="https://colab.research.google.com/github/urk23ai1001/DATA_SCIENCE_ECOSYSTEM/blob/main/EX1_Odd_URK23AI1001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Create an empty dictionary and fill with some book_id and book_name as pair by user
input. Then take one book_id as input from the user and traverse through dictionary to
find the corresponding book_name and display the same.**

In [ ]:
books={}

a = int(input("Enter NUmber of Books to enter :"))

for i in range(a):
    key=int(input("Enter Book ID :"))
    value=input("Enter Book Name")
    books[key]=value

Enter NUmber of Books to enter : 5
Enter Book ID : 1001
Enter Book Name The Bible
Enter Book ID : 1021
Enter Book Name Quotations from the Works of Mao Tse-Tung
Enter Book ID : 1052
Enter Book Name Harry Potter Series
Enter Book ID : 1005
Enter Book Name The Lord of the Rings
Enter Book ID : 1631
Enter Book Name The Da Vinci Code

In [ ]:
books

{1001: 'The Bible',
 1021: 'Quotations from the Works of Mao Tse-Tung',
 1052: 'Harry Potter Series',
 1005: 'The Lord of the Rings',
 1631: 'The Da Vinci Code '}

In [ ]:
book_id=int(input("Enter Book ID to Search :"))
if (books[book_id]):
    print(books[book_id])
else:
    print("Book ID not found")

Enter Book ID to Search : 1001

The Bible

**(2) Create an empty list and fill with list of strings by user input. Find the number of strings
where the string length is 2 or more and the first and last character are same.**

In [ ]:
list=[]

a = int(input("Enter Number of elements :"))

for i in range(0,a):
    elements=input()
    list.append(elements)
list
len(list)

Enter Number of elements :5
hello
abba
racecar
EDE
home

5

In [ ]:
count = 0
for element in list:
    if element[0] == element[-1]:
        count += 1

print("Result:", count)

Result: 3

**(3) Create an empty set and fill with some values by user input. Find maximum value in a
set.**

In [ ]:
my_set = set()
user_in = int(input("Enter a no of value : "))

for i in range(user_in):
    value=int(input("Enter :"))
    my_list=list(my_set)
    my_list.append(value)
    my_set=set(my_list)

print("Your List is")
my_set

print("The Max value from the set is " ,max(my_set))

Enter a no of value : 4
Enter :2
Enter :34
Enter :2
Enter :4
Your List is
The Max value from the set is  34

**(4) Create an empty tuple and fill with some values by user input. Find the sum of tuple elements.**

In [ ]:
my_tuple=()

num=int(input("Enter number of value "))
for i in range(num):
    a=int(input())
    my_tuple += (a,)

Enter number of value  3
 23
 231
 124

In [ ]:
my_tuple
result=sum(my_tuple)
result

378

**(5) Create a 2D array and perform matrix addition using numpy.**

In [ ]:
import numpy as np

In [ ]:
a=np.array([[1,2],[3,4]])
b=np.array([[5,6],[7,8]])

c=np.add(a,b)
c

array([[ 6,  8],
       [10, 12]])

**(6) Read an .csv file and display the basic details.**

In [ ]:
import csv

In [ ]:
with open('/Iris.csv','r') as f1:
  reader=csv.reader(f1)
  data=list(reader)
  for row in data[:3]:
        print(row)

['Id', 'Location', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']
['1', 'Torgersen', '5.1', '3.5', '1.4', '0.2', 'Iris-setosa']
['2', 'Torgersen', '4.9', '3', '1.4', '0.2', 'Iris-setosa']

**(7) Create a csv file and write the Banking details in it.**

In [1]:
import csv
with open('newfile.csv','w') as f2:
  writer=csv.writer(f2)
  writer.writerow(['S.NO','Name','Acc.No'])
  writer.writerow([1,'Ronnie','URK23AI1001'])
  writer.writerow([2,'Deva','URK23AI1002'])
  writer.writerow([3,'Shubham','URK23AI1003'])