In [66]:
books={}

a = int(input("Enter NUmber of Books to enter :"))

for i in range(a):
    key=int(input("Enter Book ID :"))
    value=input("Enter Book Name")
    books[key]=value

Enter NUmber of Books to enter : 5
Enter Book ID : 1001
Enter Book Name The Bible
Enter Book ID : 1021
Enter Book Name Quotations from the Works of Mao Tse-Tung
Enter Book ID : 1052
Enter Book Name Harry Potter Series
Enter Book ID : 1005
Enter Book Name The Lord of the Rings
Enter Book ID : 1631
Enter Book Name The Da Vinci Code

In [67]:
books

{1001: 'The Bible',
 1021: 'Quotations from the Works of Mao Tse-Tung',
 1052: 'Harry Potter Series',
 1005: 'The Lord of the Rings',
 1631: 'The Da Vinci Code '}

In [68]:
book_id=int(input("Enter Book ID to Search :"))
if (books[book_id]):
    print(books[book_id])
else:
    print("Book ID not found")

Enter Book ID to Search : 1001

The Bible

In [97]:
my_tuple=()

num=int(input("Enter number of value "))
for i in range(num):
    a=int(input())
    my_tuple += (a,)

Enter number of value  3
 23
 231
 124

In [100]:
my_tuple
result=sum(my_tuple)
result

378

In [91]:
'''list=[]

a = int(input("Enter Number of elements :"))

for i in range(0,a):
    elements=input()
    list.append(elements)
list'''

Enter Number of elements : 3
 ty
 wer
 werg

['ty', 'wer', 'werg']

In [92]:
'''if len(string) >= 2 and string[0] == string[-1]:
    print(len(string))'''

NameError: name 'string' is not defined

In [ ]:
my_set = set()
user_in = int(input("Enter a no of value : "))

for i in range(user_in):
    value=int(input("Enter :"))
    my_list=list(my_set)
    my_list.append(value)
    my_set=set(my_list)

print("Your List is")
my_set

print("The Max value from the set is " ,max(my_set))